body {
  font-family: "raleway", sans-serif;
  background-color: #fff;
  padding: $t-units-s;
  word-wrap: break-word;
  
  a{
    transition: all 0.2;
    color: black;
    text-decoration: none;

    &:hover {
      color: $primarycolour;
    }
  }

  .imagecontainer {
    display: inline-block;
    margin-left: $t-units-xs;
    padding: $t-units-s;
    width: 100%;

    h4 { 
    display: none;
    } /*trying to workout how margin needs to be in order for h4 to float on the right*/

    img{
      float: left;
      margin-right:$t-units-xs;
      width: 50%;
      height: auto;
    }
   } 
   .imagecontainer:hover {
     h4 {
       display: block;
      }
     }
  

 /*-------- Responsiveness --------*/
 .mainwrapper {
    @media  screen and (min-width:600px) {
      margin-left: 256px;
      margin-right: $t-units-s;
      text-align:left;

      .imagecontainer {
        display: inline-block;
        margin-left: $t-units-xs;
        padding: $t-units-s;
        width: 100%;

        h4 { 
        display: none;
        } /*trying to workout how margin needs to be in order for h4 to float on the right*/

        img{
          float: left;
          margin-right:$t-units-s;
          width: 50%;
          height: auto;
        }
       } 
       .imagecontainer:hover {
         h4 {
           display: block;
          }
         }
      }
 }



}
