body {
    font-family: "raleway", sans-serif;
  background-color: #fff;
  padding: $t-units-s; 
  

  a{
    transition: all 0.2;
    color: black;
    text-decoration: none;

    &:hover {
      color: $primarycolour;
    }
  }

  main {
    padding: $t-units-s;
    text-align:left;
}

h1 {
    padding: $t-units-s;
    display: block;
    font-size: $t-font-size-h1;
    margin: $t-units-xs;
    margin-left: 0;
    margin-right: 0;
    font-weight: $t-font-style-h1;
    color: $primarycolour;
    text-align: left;
  
    }
  
    h2 {
      padding: $t-units-s;
      display: block;
      font-size: $t-font-size-h2;
      margin: $t-units-xs;
      margin-left: 0;
      margin-right: 0;
      font-weight: $t-font-style-h2;
      color: $primarycolourshade1;
      }
  
    h3 {
      padding: $t-units-s;
      display: block;
      font-size: $t-font-size-h3;
      margin: $t-units-xs;
      margin-left: 0;
      margin-right: 0;
      font-weight: $t-font-style-h3;
      color: black;
        }

        img{

          padding-left: $t-units-s;
          width: 25%;
          height: auto;
        }
  }