.footer {
    display: flex;
    align-items: center;
    background-color: white;
    padding: $t-units-s;
  
  
    .footernav{
      padding: $t-units-s;
      display: none;
      text-align: center;
    }
}