header {
  position: sticky;
  /* eigentlich position: absolute; aber soll fixed sein */
  float: left;
    display: block;
    align-items: left;
    background-color: white;
    margin-right: $t-units-s;

    /*.searchicon {

    }*/

    header::after{ 
      content: "";
      display: table-column;
      clear: both;
    } /*why does this take no effect*/

  
    h1 {
        display: block;
        font-size: $t-font-size-h1;
        font-weight: $t-font-style-h1;
        color: $primarycolour;
        text-align: left;

        a{
          transition: all 0.2;
          color: $primarycolour;
          text-decoration: none;

          &:hover {
            color: black;
          }
        }
    }

  
    .mainnav{
      font-size: $t-font-size-h2;
      display: block;
      text-align: left;
      flex-grow: 1;

      h2 {
        font-size: $t-font-size-h2;
        font-weight: $t-font-style-h2;
        color: $primarycolourshade1;
        }

      ul {
        li {
          display: inline-block;
          
        
        a{
          transition: all 0.2;
          color: black;
          text-decoration: none;

          &:hover {
            color: $primarycolour;
          }
        }
      }
    }
  }
}