.header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: $t-units-xs;
  
    .logo {
      padding: $t-units-xs;
    }
  
    .mainnav{
      padding: $t-units-xs;
      display: none;
    }
}