.header {
  position:relative;
    display: block;
    align-items: center;
    background-color: white;
    padding: $t-units-s;

  
    .mainnav{
      padding: $t-units-s;
      display: block;
      text-align: center;
      flex-grow: 1;

      ul {
        li {
          display: inline-block;
          margin-right: $t-units-s;
        
        a{
          transition: all 0.2;
          color: black;

          &:hover {
            color: $primarycolour;
          }
        }
      }
    }
  }
}