//Fonts
$t-font-size-h1: 32px;
$t-font-size-h2: 32px;
$t-font-size-h3: 16px;

$t-font-style-h1: bold;
$t-font-style-h2: bold;
$t-font-style-h3: normal;


@import url('https://fonts.googleapis.com/css?family=raleway&display=swap');
$t-font-family: 'raleway', sans-serif;

h1 {
  text-align: center;
  padding: $t-units-s;
  display: block;
  font-size: $t-font-size-h1;
  margin: $t-units-xs;
  margin-left: 0;
  margin-right: 0;
  font-weight: $t-font-style-h1;
  color: $primarycolour;
  }

  h2 {
    text-align: center;
    padding: $t-units-s;
    display: block;
    font-size: $t-font-size-h2;
    margin: $t-units-xs;
    margin-left: 0;
    margin-right: 0;
    font-weight: $t-font-style-h2;
    color: $primarycolourshade1;
    }
  h3 {
    text-align: center;
    padding: $t-units-s;
    display: block;
    font-size: $t-font-size-h3;
    margin: $t-units-xs;
    margin-left: 0;
    margin-right: 0;
    font-weight: $t-font-style-h3;
    color: $primarycolourshade1;
      }
    