//Fonts
$t-font-size-h1: 32px;
$t-font-size-h2: 32px;
$t-font-size-h3: 32px;
$t-font-size-h4: 16px;
$t-font-size-h5: 16px;

$t-font-style-h1: bold;
$t-font-style-h2: bold;
$t-font-style-h3: normal;
$t-font-style-h4: normal;
$t-font-style-h5: normal;


@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
$t-font-family: 'raleway', sans-serif;

h1 {
  padding: $t-units-s; /*This overrules*/
  font-size: $t-font-size-h1;
  margin: $t-units-xs;
  margin-left: 0;
  margin-right: 0;
  font-weight: $t-font-style-h1;
  color: $primarycolour;

  }

  h2 {
    padding: $t-units-s; /*This does overrule in <main>*/
    font-size: $t-font-size-h2;
    margin: $t-units-xs;
    margin-left: 0;
    margin-right: 0;
    font-weight: $t-font-style-h2;
    color: $primarycolourshade1;
    }

  h3 {
    padding: $t-units-s; /*Overrule*/
    font-size: $t-font-size-h3;
    margin: $t-units-xs;
    margin-left: 0;
    margin-right: 0;
    font-weight: $t-font-style-h3;
    color: black;
      }
  h4 {
    font-size: $t-font-size-h4;
    font-weight: $t-font-style-h4;
    color: $greyshade1;
  
      }

  h5 {
    font-size: $t-font-size-h5;
    font-weight: $t-font-style-h5;
    color: $greyshade2;
   
    }
    