    <!--<header class="header">   
    <div class="logo">
      <h1>Logo</h1>
    </div>
  
    <nav class="mainnav visible">
      <ul>
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Projects</a>
        </li>
        <li>
          <a href="#">About Me</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  
  
    <button
      class="js-toggle"
      data-toggle-selector=".m-header__navigation"
      data-toggle-class="visible"
    >
      Toggle
    </button>
  
  </header>
    -->

  <header id="header">
    <h1>Portfolio</h1>
    <a class="logo" href="index.html"><img src="Zeichenfläche 1.png" alt="Nachtigall Logo" title="Zur Startseite wechseln>"/></a>

        <nav class="mainnav"
  
        <ul>
          <li><a href="Übermich.html">Über mich</a></li>
          <li><a href="Arbeiten.html">Arbeiten</a></li>
          <li><a href="Kontakt.html">Kontakt</a></li>
        </ul>
      </nav>
</nav>
</header>

