
   <!--<button
      class="js-toggle"
      data-toggle-selector=".mainnav"
      data-toggle-class="visible"
    >
      Toggle
    </button>
  -->




    <header>
       <h1><a href="index.html">Lauren </br> Nightingale</a></li></h1>
    
    
      <nav class="mainnav">
  
        <ul>
          <h3><li><a href="aboutme.html">About Me</a></li></br>
          <li><a href="works.html">Works</a></li></br>
          <li><a href="contact.html">Contact</a></li></h3>
        </ul>
      </nav>
      <!--<input type="search" placeholder="Search">
    <a href="#"><img class="search" src="#"></a>-->
     


    </header>

