    <!--<header class="header">   
    <div class="logo">
      <h1>Logo</h1>
    </div>
  
    <nav class="mainnav visible">
      <ul>
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Projects</a>
        </li>
        <li>
          <a href="#">About Me</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>
  
  
    <button
      class="js-toggle"
      data-toggle-selector=".m-header__navigation"
      data-toggle-class="visible"
    >
      Toggle
    </button>
  
  </header>
    -->

  <header id="header">
    <header class="header">
    <div class="h1">
        <h1> Lauren Nightingale </h1>
      </div>
   

    <div class="mainnav">
      <nav class="mainnav">
  
        <ul>
          <li><a href="Uebermich.html">Über mich</a></li>
          <li><a href="Arbeiten.html">Arbeiten</a></li>
          <li><a href="Kontakt.html">Kontakt</a></li>
        </ul>
      </nav>
      </div>

</header>

