<!--<section class="slideshow" aria-label="Gallery">
    <ol class="slideshow__viewport">
      <li id="slideshow__slide1"
          tabindex="0"
          class="slideshow__slide">
         
         
      </li>
      <li id="slideshow__slide2"
          tabindex="0"
          class="slideshow__slide">
      </li>
      <li id="slideshow__slide3"
          tabindex="0"
          class="slideshow__slide">
        
      </li>
      <li id="slideshow__slide4"
          tabindex="0"
          class="slideshow__slide">
   
      </li>
    </ol>
    <aside class="slideshow__nav">
      <ol class="slideshow__nav-list">
        <li class="slideshow__nav-item">
          <a href="#slideshow__slide1"
             class="slideshow__nav-button">Go to slide 1</a>
        </li>
        <li class="slideshow__nav-item">
          <a href="#slideshow__slide2"
             class="slideshow__nav-button">Go to slide 2</a>
        </li>
        <li class="slideshow__nav-item">
          <a href="#slideshow__slide3"
             class="slideshow__nav-button">Go to slide 3</a>
        </li>
        <li class="slideshow__nav-item">
          <a href="#slideshow__slide4"
             class="slideshow__nav-button">Go to slide 4</a>
        </li>
      </ol>
    </aside>
  </section>--> 
  <!-- Cant be used because img import not possible -->