<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="./images/zeichenflaeche1.png">
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
   
      <%= require('html-loader!./partials/modules/header.html') %>
    <div class="mainwrapper">
    <main>
      <h1>About Me</h1>
      <h2>Lauren Nightingale</h2>
      <h3><p>*05.03.2001</p>
        <p>2019 Abitur Graduation Görres Gymnasium, Düsseldorf</p>
      <p>2020 Start of visual communication studies, "Kommunikations&shydesign" at Hochschule Düsseldorf</p></h3>
      <h3><a href="contact.html">Want to get to know me better?</a></h3>
    </main>
    <%= require('html-loader!./partials/modules/footer.html') %>
    </div>
  </body>
</html>