<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="./images/zeichenflaeche1.png">
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <details open>
      <summary>Header</summary>
      <%= require('html-loader!./partials/modules/header.html') %>
    </details>
    <main>
      <section id="up"></section>
      <h1>Contact</h1>
      <h2>Contact me via</h2>
      <h3><p>E-mail: lauren.nightingale@study.hs-duesseldorf.de</p>
      <p>Mobile: 015779395577</p></h3>
      <h2>Social Media</h2>
     <h3>Instagram: laurenphilippa_</h3>

    </main>

     <details open>
      <summary>Footer</summary>
      <%= require('html-loader!./partials/modules/Footer.html') %>
    </details>
  
  </body>
</html>