<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="./images/zeichenflaeche1.png">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>

      <%= require('html-loader!./partials/modules/header.html') %>
    <div class="mainwrapper"></div>


      <%= require('html-loader!./partials/modules/footer.html') %>

  </body>
</html>