<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="./images/zeichenflaeche1.png">
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
  
      <%= require('html-loader!./partials/modules/header.html') %>
   <div class="mainwrapper">
    <main>
     <h1>Welcome</h1>
     <h2>Slide and explore</h2>
    <section class="slideshow" aria-label="Gallery">
      <ol class="slideshow__viewport">
        <li id="slideshow__slide1"
            tabindex="0"
            class="slideshow__slide">
            <a href="works2019.html"><img src="./images/langzeitjapanvorschau.jpg"></a>
           
        </li>
        <li id="slideshow__slide2"
            tabindex="0"
            class="slideshow__slide">
            <a href="works2021.html"><img src="./images/IMG_0338vorschau.jpg"></a>
        </li>
        <li id="slideshow__slide3"
            tabindex="0"
            class="slideshow__slide">
            <a href="works2021.html"><img src="./images/Lauren.Nighitngale.Pictoralismus3.20-21.jpeg-1vorschau.jpg"></a>
        </li>
        <li id="slideshow__slide4"
            tabindex="0"
            class="slideshow__slide">
            <a href="works2020.html"><img src="./images/PostkarteCorona2Vor.jpg"></a>
     
        </li>
      </ol>
      <aside class="slideshow__nav">
        <ol class="slideshow__nav-list">
          <li class="slideshow__nav-item">
            <a href="#slideshow__slide1"
               class="slideshow__nav-button">Go to slide 1</a>
          </li>
          <li class="slideshow__nav-item">
            <a href="#slideshow__slide2"
               class="slideshow__nav-button">Go to slide 2</a>
          </li>
          <li class="slideshow__nav-item">
            <a href="#slideshow__slide3"
               class="slideshow__nav-button">Go to slide 3</a>
          </li>
          <li class="slideshow__nav-item">
            <a href="#slideshow__slide4"
               class="slideshow__nav-button">Go to slide 4</a>
          </li>
        </ol>
      </aside>
    </section>
    </main>

    <%= require('html-loader!./partials/modules/footer.html') %>
   </div>
  </body>
</html>