<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="./images/zeichenflaeche1.png">
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>

      <%= require('html-loader!./partials/modules/header.html') %>

    <div class="mainwrapper">
    <main>
      <h1>Works</h1>

      <nav class="worknav">
  
        <ul>
          <li><a href="works2019.html">2019</a></li>
          <li><a href="works2020.html">2020</a></li>
          <li><a href="works2021.html">2021</a></li>
        </ul>
      </nav>
      <div class="imagecontainer">
      <img src="./images/IMG_0338.jpg">
      <h4>Mum, Wuppertal, 2021</h4>
    </div>
    <div class="imagecontainer">
      <img src="./images/Lauren.Nighitngale.Pictoralismus3.20-21.jpeg-1.jpg">
      <h4>Clouds, 2021</h4>
    </div>
    </main>

        <%= require('html-loader!./partials/modules/footer.html') %>

    </div>
  </body>
</html>